*.iml
.idea/
/getting-started-k8s-master/
/DockerAndKubernetesCourseCode-main/
/configuring-managing-kubernetes-networking-services-ingress/
/monitoring/kubernetes/DevOps-Monitoring-Deep-Dive/devopsmon-app/node_modules/
